{% extends 'base.html' %} {% block title %} care instructions {% endblock %}

{% block body %} 
<hr class="divider-care-top">
<div class="care-title-head"> For best results... </div>
<hr class="divider-care-bottom">
<hr class="divider3">
<div class="care-contents">
    <div class="care-title"> <strong>Exfoliating before your appointment</strong> </div>
    <div class="care-title-3"> <strong>Exfoliating before your appointment</strong> </div>
    <p class="care-text">For best results, it is highly recommended that you shave and exfoliate with a rough loofah, washcloth, or some other form of exfoliant 1-2 times the day before your tan. This resets your skin’s natural shedding cycle which typically takes place every 5-8 days. Exfoliating before your appointment is especially crucial if you have residue left from a previous tan.
        <br>
        <br>
    Pro tip: Exfoliate the day before, not the day of. You want to give your pores at least 12 hours to close back up.</p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Clean skin is very important</strong> </div>
    <div class="care-title-3"> <strong>Clean skin is very important</strong> </div>
    <p class="care-text">Deodorant, makeup, perfume, cologne, lotions, and oils all act as a barrier and may prevent the tanning solution from reaching your skin and properly dying that area. Please try to refrain from using these products before your appointment.
        <br>
        <br>
        Pro tip: Makeup wipes leave behind a residue that will interfere with the tanning process. Remove products with soap and water prior to your appointment.</p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Staying dry</strong> </div>
    <div class="care-title-3"> <strong>Staying dry</strong> </div>
    <p class="care-text">Staying completely dry until your rinse time is very important. My solution has water-resistant based properties that work to fight water damage, but for best results refrain from washing the dishes, walking in the rain and/or puddles, slobbery kisses from the dogs, working out, etc. You want to give your tan time to develop on your skin, and liquid may remove the properties needed to do so. 
        <br>
        <br>
        Pro tip: Parents, wear hoodies after your appointment to help fight against spray-tan-hating baby tears from getting on your neck or shoulder. You will thank me later. </p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Warm water rinse</strong> </div>
    <div class="care-title-3"> <strong>Warm water rinse</strong> </div>
    <p class="care-text">After your dry period is over, hop in the shower for a quick warm water rinse to remove all of the cosmetic bronzers from your skin. This rinse consists of just water, no soap. Simply stand under the water and go from head to toe using circular motions with your hands to wipe off the bronzer. When the water starts to run clear, get out, pat dry, and enjoy! At this time you are able to moisturize, and put on deodorants and perfumes.  
        <br>
        <br>
        Pro Tip: NO SOAP FOR 24 HOURS. </p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Patting dry</strong> </div>
    <div class="care-title-3"> <strong>Patting dry</strong> </div>
    <p class="care-text">Rubbing with a towel is a form of light exfoliating due to friction working to remove fake tan. Pat dry when getting out of the pool, shower, bath, etc.
        <br>
        <br>
        Pro Tip: When washing your face, use light circular motions. Be gentle! </p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Soap usage is important</strong> </div>
    <div class="care-title-3"> <strong>Soap usage is important</strong> </div>
    <p class="care-text">After 24 hours of your appointment time, you are now able to use soap. Remember to use your hand to lather the soap, for loofahs and washcloths may help to remove fake tan. It is highly recommended that throughout the entire duration of your tan you use sulfate and paraben-free products, especially soap. Sulfates and parabens act as stripping chemicals and remove the natural oils from your skin. However, When you have a spray tan, this is the first thing the soap touches, and it may remove your tan prematurely. 
        <br>
        <br>
        Pro Tip: DO NOT use Dove, Jergins, Bath and body works, etc. with your spray tan. A few soaps that are safe to use with your spray tan include anything all-natural, baby soap, NATIVE, etc. The fewer ingredients the better. Your local farmers’ market probably has something for you, and shopping locally is always a plus. 
        <br>
        <br>
        Pro Tip: Don’t use soap every day if you don’t have to. Soap just helps your tan fade!
    </p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>The more you moisturize, the better</strong> </div>
    <div class="care-title-3"> <strong>The more you moisturize, the better</strong> </div>
    <p class="care-text">The more you moisturize, the longer the tan will last you, and the more even it will fade! As long as you are moisturizing I’m happy, however, my favorite regimen to recommend is 100% extra virgin coconut oil in the morning, and your favorite lotion at night!  
        <br>
        <br>
        Pro Tip: Coconut oil removes makeup without taking the tan off with it, unlike makeup wipes.  </p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Remember to drink your H2O</strong> </div>
    <div class="care-title-3"> <strong>Remember to drink your H2O</strong> </div>
    <p class="care-text">To extend the overall lifespan and prevent cracking, hydrate your tan from the inside out.  Drink a little more water than you usually might, especially if you’re consuming alcohol. Moisturizing on the outside won’t save you if you are dehydrated on the inside.</p>
</div>

<div class="care-contents">
    <div class="care-title"> <strong>Tan Removal</strong> </div>
    <div class="care-title-3"> <strong>Tan Removal</strong> </div>
    <p class="care-text">Exfoliating removes spray tan, so It is recommended you use your hand to apply soap, and pat to pat dry with a towel. When you are ready to take the tan off, begin exfoliating!  
        <br>
        <br>
        Pro Tip: Dawn dish soap removes spray tan quickly.  </p>
</div>


 {% endblock %}