{% extends 'base.html' %}{% block title %}FAQ{% endblock %}
{% block body %}

<div>
    <hr class="divider-care-top">
    <div class="care-title-head"> Frequently asked questions </div>
    <hr class="divider-care-bottom">
    <hr class="divider3">

    <div class="care-contents">
        <div class="care-title"> <strong>When should I get my tan?</strong> </div>
        <div class="care-title-3"> <strong>When should I get my tan?</strong> </div>
        <p class="care-text">Newbies, to ease your wondering mind I recommend doing a trial run a few weeks prior to your event so you can meet me, become familiar with the spray tan process, and see the results before your eyes. For my returning clients, it is recommended that you get your tan 1-2 days prior to your event.</p>
    </div>


    <div class="care-contents">
        <div class="care-title"> <strong>Is there anything I need to do before my appointment?</strong> </div>
        <div class="care-title-3"> <strong>Is there anything I need to do before my appointment?</strong> </div>
        <p class="care-text">One word: Exfoliate! Exfoliating 1-2 times the day before your appointment hits the reset button on your skin’s natural shedding cycle. The harder you scrub, the better the results! For more tips on before and after care, please refer to the Care Instructions page.
            <br>
            <br>
            *Please be sure to read the Care Instructions page prior to your appointment.</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>Is everything I need provided for me?</strong> </div>
        <div class="care-title-3"> <strong>Is everything I need provided for me?</strong> </div>
        <p class="care-text">Absolutely! I sincerely hope that your spray tan appointment with me is something that you look forward to, not stress about! I come prepared with my spray tan kit which includes everything you may need during your appointment. All I ask is that you try to relax, and enjoy the process!</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>What do I wear during my spray tan? After?</strong> </div>
        <div class="care-title-3"> <strong>What do I wear during my spray tan? After?</strong> </div>
        <p class="care-text">For my women, whatever you leave on or take off is completely up to you! I have seen it all, I just want you to feel comfortable. With that being said, don’t forget to consider tan lines. If you are breastfeeding, consider wearing nipple covers.
            <br>
            <br>
            For my men, I ask that genitals remain covered during the entire duration of your appointment. Acceptable attire may include boxers, briefs, swimming trunks, your pretty-pink thong, or whatever floats your boat! Feel free to message me with any specific requests.</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>Does the spray tan stain or smell?</strong> </div>
        <div class="care-title-3"> <strong>Does the spray tan stain or smell?</strong> </div>
        <p class="care-text">I always recommend you wear dark, loose-fitted clothing after your spray tan appointment. However, modern-day spray tans have a lot to offer, including a fast-drying capability resulting in little to no transfer. If any transfer does occur, no problem! Just toss your clothes in the wash. It doesn’t stain nails or hair, either! 
            <br>
            <br>
            My solutions do not have any scents.</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>Do spray tans act as sunscreen?</strong> </div>
        <div class="care-title-3"> <strong>Do spray tans act as sunscreen?</strong> </div>
        <p class="care-text">Let’s bust this myth right here, right now! Your spray tan will only act as an extra layer of skin, so layer up! SPF and a stylish hat are always my first things to pack.</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>Is it safe to get a spray tan while pregnant or breastfeeding?</strong> </div>
        <div class="care-title-3"> <strong>Is it safe to get a spray tan while pregnant or breastfeeding?</strong> </div>
        <p class="care-text">It is safe to get sprayed while pregnant, however, I always recommend consulting with a doctor prior to getting sprayed. If you are breastfeeding, I suggest wearing pasties or nipple covers during your appointment, but a simple wipe to remove the tan from the area afterward does the trick.</p>
    </div>
    
    <div class="care-contents">
        <div class="care-title"> <strong>What makes your spray tans different?</strong> </div>
        <div class="care-title-3"> <strong>What makes your spray tans different?</strong> </div>
        <p class="care-text">First off, me! I hope to change your view on spray tans and break beauty standards. The solutions I use include Erythrulose, a natural keto-sugar that reacts amongst free amino groups, and natural fruits for color. This results in the brown tint and contributes to the fast drying and streak-free qualities of my tans. You may just have to see for yourself!</p>
    </div>

{% endblock %}