{% extends 'base.html' %}{% block title %}FAQ{% endblock %}
{% block body %}

<!-- <div class="gallery">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-2.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-3.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-2.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-3.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-2.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-3.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-2.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-3.jpg" class="img-thumb" alt="...">
    <img src="../static/images/examp-img-1.jpg" class="img-thumb" alt="...">
</div> -->

<!-- <div class="toolbar mb2 mt2">
    <button class="btn fil-cat" href="" data-rel="all">All</button>
    <button class="btn fil-cat" data-rel="web">Websites</button>
    <button class="btn fil-cat" data-rel="flyers">Flyers</button>
    <button class="btn fil-cat" data-rel="bcards">Business Cards</button>
  </div>  -->
  <hr class="divider-care-top">
  <div class="care-title-head"> Gallery </div>
  <hr class="divider-care-bottom">
  <hr class="divider3">
  <div id="portfolio">
    <div class="tile scale-anm web all">
          <img src="../static/images/light-shade-4.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm bcards all">
      <img src="../static/images/Medium-shade-4.JPG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm web all">
      <img src="../static/images/Medium-shade-2.JPG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm web all">
              <img src="../static/images/medium-shade-6.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm flyers all">
          <img src="../static/images/medium-shade-8.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm bcards all">
              <img src="../static/images/medium-shade-7.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm flyers all">
      <img src="../static/images/medium-shade-8.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm flyers all">
      <img src="../static/images/Medium-shade-3.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm web all">
          <img src="../static/images/light-shade-3.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="tile scale-anm flyers all">
             <img src="../static/images/light-shade-1.JPEG" class="img-thumb" alt="" /> 
    </div>
    <div class="tile scale-anm web all">
          <img src="../static/images/Medium-shade-1.JPG" class="img-thumb" alt="" />
    </div>
  </div>
  
  <div style="clear:both;"></div>   



  <div class="image-row">
    <div class="image1">
          <img src="../static/images/light-shade-4.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
      <img src="../static/images/Medium-shade-4.JPG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
      <img src="../static/images/Medium-shade-2.JPG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
              <img src="../static/images/medium-shade-6.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
          <img src="../static/images/medium-shade-8.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
              <img src="../static/images/medium-shade-7.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
      <img src="../static/images/medium-shade-8.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
      <img src="../static/images/Medium-shade-3.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
          <img src="../static/images/light-shade-3.JPEG" class="img-thumb" alt="" />
    </div>
    <div class="image1">
             <img src="../static/images/light-shade-1.JPEG" class="img-thumb" alt="" /> 
    </div>
    <div class="image1">
          <img src="../static/images/Medium-shade-1.JPG" class="img-thumb" alt="" />
    </div>
  </div>

{% endblock %}