{% extends 'base.html' %} {% block title %}Tan Landing{% endblock %} 

{% block body %} 

<div class="banner-container">
    <div class="image-banner-container">
        <img id="about-banner" src="../static/images/tan-about-jumbo.jpg" class="img-fluid" alt="..." >
        <a id="about-btn" class="btn btn-outline-light btn-lg m-2" href="https://squareup.com/appointments/book/b7qkby14qlkb1d/L4Z14KX46FWNA/start"
            role="button" rel="nofollow">Book Now</a>
    </div>
</div>

<div class="banner-container-mobile">
    <div class="image-banner-container-mobile">
        <img id="about-banner-mobile" src="../static/images/evan-mobile-pic.jpg" class="img-fluid" alt="..." >
        <a id="about-btn-mobile" class="btn btn-outline-light btn-lg m-2" href="https://squareup.com/appointments/book/b7qkby14qlkb1d/L4Z14KX46FWNA/start"
            role="button" rel="nofollow">Book Now</a>
    </div>
</div>

<hr class="top">

<div class="header-home">
   <p>Mobile Spray Tans in the comfort of your own home</p>
</div>

<hr>

<div class="care-contents">
    <img class="list-img" src="../static/images/john.JPEG" alt="img">
    <div class="care-title-1"> <strong>Benefits of Sunless Tanning</strong> </div>
    <p class="care-text-1">
    <li> Able to achieve color year-round</li>   
    <li> The safest way to tan</li>
    <li> Results faster than other tanning methods </li>
    <li> Masks blemishes and impurities </li>
    <li> Evens out skin tone and tan lines, including farmers’ tan</li>
    <li> Acts as a base tan</li> 
    <li> Helps fight aging and sun damage
    </p>
    <a id="insta-btn" class="btn btn-outline-light btn-lg m-2" href="https://www.instagram.com/spraytansbyevan/"
    role="button" rel="nofollow">Instagram</a>
</div>
<div class="empty-space"></div>
<!-- <div class="review">
    <p> <strong> What People Are Saying </strong>
        <br>
        <br>
        “I loved my spray tan! I definitely recommend Evan to anyone who wants to try out spray tanning. It was the best spray tan I have ever had, not orange, and she comes to your house!”
        <br>
         <br>
        — Logan Jarrell
    </p>
</div> -->


<hr class="top">

<div class="header-home">
   <p>Invest in your skin now, so you won't have to later</p>
</div>

<hr>
<div class="space"></div>
<div class="container" id="review">
    <div id="carouselContent" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" id="indicator"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" id="indicator"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" id="indicator"></li>
          </ol>
        <div class="carousel-inner" role="listbox">
            <p> <strong> What People Are Saying </strong></p>
            <div class="carousel-item active text-center p-4">
                <p>
                    “I loved my spray tan! I definitely recommend Evan to anyone who wants to try out spray tanning. It was the best spray tan I have ever had, not orange, and she comes to your house!”
                    <br>
                     <br>
                    — Logan
                </p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>
                    “Evan is the best! She comes to you, her prices are reasonable, and she’s sweet! Her tans are beautiful and even.”
                    <br>
                     <br>
                    — Faith
                </p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>
                    “I’m obsessed with my tan!! Wish I looked like this everyday, you slayed it!”
                    <br>
                     <br>
                    — Skylar
                </p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>
                    “This is definitely the best spray tan I have ever gotten. I love how it looks, especially on the face!”
                    <br>
                     <br>
                    — Brynleigh
                </p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>
                    “I’m in love. Literally the best spray tan ever! I have been getting so many compliments on it. Will definitely be getting another!”
                    <br>
                     <br>
                    — Maddy
                </p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>
                    “My tan looked SO GOOD in the white dress. Thank u for making me feel flawless girl!”
                    <br>
                     <br>
                    — Paisley
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="space"></div> -->

<div class="spraytan-party">
    <p class="party-header"> <strong>
        Interested in booking a Spray Tan Party?
    </strong></p>
    <p>
        Spray Tan parties are groups of 5 or more people coming together to enjoy a time of music, laughter, and sunless tanning. Ideal for wedding parties, vacations, family events, and more. Group discounts available.
    </p>
    <a id="insta-btn-1" class="btn btn-outline-light btn-lg m-2" href="mailto:contact@spraytansbyevan.com?subject=Spray Tan Party"
    role="button" rel="nofollow">Inquire</a>
</div>

<!-- <div class="banner-container2">
    <div class="image-banner-container">
        <img id="about-banner" src="../static/images/services-banner.png" class="img-fluid" alt="..." >
        <a id="service-btn" class="btn btn-outline-light btn-lg m-2" href="/spraytans"
            role="button" rel="nofollow">Learn More</a>
    </div>
</div> -->

<!-- <div class="banner-container2-mobile">
    <div class="image-banner-container-mobile">
        <img id="about-banner-mobile" src="../static/images/service-banner-mobile.png" class="img-fluid" alt="..." >
        <a id="service-btn-mobile" class="btn btn-outline-light btn-lg m-2" href="/spraytans"
            role="button" rel="nofollow">Learn More</a>
    </div>
</div> -->

<!-- <div class="banner-container3">
    <div class="image-banner-container">
        <img id="about-banner" src="../static/images/care-banner.png" class="img-fluid" alt="..." >
        <a id="care-btn" class="btn btn-outline-light btn-lg m-2" href="/care_instructions"
            role="button" rel="nofollow">Learn More</a>
    </div>
</div> -->

<!-- <div class="banner-container3-mobile">
    <div class="image-banner-container-mobile">
        <img id="about-banner-mobile" src="../static/images/care-banner-mobile.png" class="img-fluid" alt="..." >
        <a id="care-btn-mobile" class="btn btn-outline-light btn-lg m-2" href="/care_instructions"
            role="button" rel="nofollow">Learn More</a>
    </div>
</div> -->

{% endblock %}