{% extends 'base.html' %}{% block title %}Spraytans{% endblock %}
{% block body %}

<hr class="divider-care-top">
<div class="care-title-head"> Services </div>
<hr class="divider-care-bottom">
<hr class="divider3">

    <div class="tan-services">
      <div class="service-img-1"><img src="../static/images/light-shade-4.JPEG" class="center" alt="img" width="400px"></div>
      <p class="text-left-service"> Light Shade </p>
    <p class="text-left">
      $45
   <br>
     <p class="service-txt">
      Light to light/medium shade. Stay dry until rinse time. Rinse for 4 hours for a light shade, or 5 hours for a light/medium shade.
      For those with fair skin. Great for first-timers who just want to test the waters with subtle colors, or for brides wearing a lot of white and looking for the perfect touch.
    </p>
    </p>

    <div class="service-img-2"><img src="../static/images/medium-shade-6.JPEG" class="center" alt="img"></div>
    <p class="text-left-service"> Medium Shade </p>
    <p class="text-left">
      $50
    <br>
     <p class="service-txt">
      A set medium shade that is perfect for all events. Stay dry for 6 hours. Rinse between 6-12 hours at your convenience.
      For most skin tones. Great for those seeking a natural, "just got back from a weekend beach trip" look, or for those just wanting to even out tan lines to perfect an outfit. This service gives a seamless, natural tan that suits almost all events and situations. Previously known as the “Original,” the Medium shade is a fan-favorite.
    </p>
    </p>

    <div class="service-img-3"><img src="../static/images/Medium-shade-3.JPEG" class="center" alt="img"></div></div></div>
    <p class="text-left-service"> Dark Shade </p>
      <p class="text-left">
      $60<br>
       <p class="service-txt">
      A set dark shade. Stay dry until rinse time. Rinse for 6 hours for a medium/dark shade, or 8 hours for a maximum dark shade.
      Great for those who already have a base tan, or for those who like a drastic change, beach trips, beauty pageants, bodybuilding competitions, cheer, dance recitals, etc.
      </p>
    </p>

    <div class="service-img-4"><img src="../static/images/medium-shade-8.JPEG" class="center" alt="img"></div>
    <p class="text-left-service"> Boost Add-On </p>
    <p class="text-left">
      $10
      <br> <p class="service-txt">
      An additional service for those with dry skin. This clear, scentless solution is applied as a third coat upon spray tan completion to hydrate the skin and lock in the tan, adding to the overall lifespan.
      </p>
    </p>
  </div>
    {% endblock %}